body {
    background-color: darkgray;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kwadracik {
    background-color: chartreuse;
    width: 200px;
    height: 200px;
}